# A secret token used to encrypt user_id's in the Bookmarks#export callback URL
# functionality, for example in Refworks export of Bookmarks. In Rails 4, Blacklight
# will use the application's secret key base instead.
#

Blacklight.secret_key = '9468c2210244a415e050ea7ce1acb7c73d772b7843a56e84e1b424dbaafeed131a032486f813bff1f4d9ec5037ffe4971979ce8b8b2aba7ac1f2b258dba59875'