# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# THIS IS AN ANSIBLE-MANAGED FILE. ALL CHANGES WILL BE OVERRIDEN IF CONFIG
# MANAGER IS RUN. MAKE SURE YOU REFLECT CHANGES IN THE ANSIBLE SCRIPTS IF
# THEY SHOULD BE MADE PERMANENT.
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

ServerName {{ server_name }}

<VirtualHost *:80>
  PassengerAppEnv {{ rails_env }}
  # !!! Be sure to point DocumentRoot to 'public'!
  DocumentRoot {{ app_root }}/public
  # allows forward slashes for IIIF
  AllowEncodedSlashes NoDecode

  # Settings compatible with https://github.com/capistrano/maintenance
  <IfModule mod_rewrite.c>
    RewriteEngine On
    ErrorDocument 503 /system/maintenance.html
    # Return 503 error if the maintenance page exists.
    RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
    RewriteCond %{SCRIPT_FILENAME} !maintenance.html
    RewriteRule ^.*$ - [L,R=503]
  </IfModule>

  <Directory {{ app_root }}/public>
        # MultiViews must be turned off.
        Options -MultiViews
        # Uncomment this if you're on Apache >= 2.4:
        Require all granted
  </Directory>
</VirtualHost>
