# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 09183a6f123c0440955e283875c843776d8f4ff1d50a233c169b3a456c1b673fc53c93abff85f8748fcae3c04006d202b000800492d343aef3a6066268e08a81

test:
  secret_key_base: 4d600c73173c5ef7ff0425f41fd04157d7a6e0fd5336d07a7993534590eb8dc92301489118c0e728e72c627a924788dcf1a72751ec01ea4715d9885cb2a9ae27

production:
  secret_key_base: {{ rails_secret_key_base }}
