# database.h2.url = jdbc:h2:/tmp/marmotta/db/marmotta;MVCC=true;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=10
# database.url = jdbc:h2:/tmp/marmotta/db/marmotta;MVCC=true;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=10
# database.user = sa
# database.password = sa
database.type = postgres
database.url = jdbc:postgresql://localhost:5432/marmotta?prepareThreshold=3
database.user = {{ marmotta_pg_user }}
database.password = {{ marmotta_pg_pass }}
database.mode = create
kiwi.setup.database = true
kiwi.version = 3.3.0
kiwi.path = /marmotta
security.permission.solr_local_update.pattern = /solr/.*/update
security.permission.solr_local_update.host = LOCAL
security.permission.solr_local_update.methods = GET
security.permission.solr_local_update.methods = POST
security.permission.solr_local_update.methods = PUT
security.permission.solr_local_update.priority = 5
security.permission.solr_local_admin.pattern = /solr/admin/.*
security.permission.solr_local_admin.host = LOCAL
security.permission.solr_local_admin.methods = GET
security.permission.solr_local_admin.methods = POST
security.permission.solr_local_admin.methods = PUT
security.permission.solr_local_admin.methods = DELETE
security.permission.solr_local_admin.priority = 5
security.restriction.solr_remote_update.pattern = /solr/.*/update
security.restriction.solr_remote_update.methods = GET
security.restriction.solr_remote_update.methods = POST
security.restriction.solr_remote_update.methods = PUT
security.restriction.solr_remote_update.priority = 2
security.restriction.solr_remote_admin.pattern = /solr/admin/.*
security.restriction.solr_remote_admin.methods = GET
security.restriction.solr_remote_admin.methods = POST
security.restriction.solr_remote_admin.methods = PUT
security.restriction.solr_remote_admin.methods = DELETE
security.restriction.solr_remote_admin.priority = 2
security.permission.system.pattern = /system/.*
security.permission.system.host = LOCAL
security.permission.system.methods = GET
security.permission.system.methods = POST
security.permission.system.methods = PUT
security.permission.system.methods = DELETE
security.permission.system.priority = 5
security.restriction.system.pattern = /system/.*
security.restriction.system.methods = GET
security.restriction.system.methods = POST
security.restriction.system.methods = PUT
security.restriction.system.methods = DELETE
security.restriction.system.priority = 2
security.permission.security.pattern = /security/.*
security.permission.security.host = LOCAL
security.permission.security.methods = GET
security.permission.security.methods = POST
security.permission.security.methods = PUT
security.permission.security.methods = DELETE
security.permission.security.priority = 5
security.permission.security_public.pattern = /security/public/.*
security.permission.security_public.methods = GET
security.permission.security_public.priority = 3
security.restriction.security.pattern = /security/.*
security.restriction.security.methods = GET
security.restriction.security.methods = POST
security.restriction.security.methods = PUT
security.restriction.security.methods = DELETE
security.restriction.security.priority = 2
security.permission.config.pattern = /config/.*
security.permission.config.host = LOCAL
security.permission.config.methods = GET
security.permission.config.methods = HEAD
security.permission.config.methods = OPTIONS
security.permission.config.methods = POST
security.permission.config.methods = PUT
security.permission.config.methods = DELETE
security.permission.config.priority = 5
security.restriction.config.pattern = /config/.*
security.restriction.config.methods = GET
security.restriction.config.methods = HEAD
security.restriction.config.methods = OPTIONS
security.restriction.config.methods = POST
security.restriction.config.methods = PUT
security.restriction.config.methods = DELETE
security.restriction.config.priority = 2
security.permission.transaction.pattern = /transaction/.*
security.permission.transaction.host = LOCAL
security.permission.transaction.methods = GET
security.permission.transaction.methods = POST
security.permission.transaction.methods = PUT
security.permission.transaction.methods = DELETE
security.permission.transaction.priority = 5
security.restriction.transaction.pattern = /transaction/.*
security.restriction.transaction.methods = GET
security.restriction.transaction.methods = POST
security.restriction.transaction.methods = PUT
security.restriction.transaction.methods = DELETE
security.restriction.transaction.priority = 2
security.permission.groovy.pattern = /groovy/.*
security.permission.groovy.host = LOCAL
security.permission.groovy.methods = GET
security.permission.groovy.methods = POST
security.permission.groovy.methods = PUT
security.permission.groovy.methods = DELETE
security.permission.groovy.priority = 5
security.restriction.groovy.pattern = /groovy/.*
security.restriction.groovy.methods = GET
security.restriction.groovy.methods = POST
security.restriction.groovy.methods = PUT
security.restriction.groovy.methods = DELETE
security.restriction.groovy.priority = 2
security.permission.database.pattern = /database/.*
security.permission.database.host = LOCAL
security.permission.database.methods = GET
security.permission.database.methods = POST
security.permission.database.methods = PUT
security.permission.database.methods = DELETE
security.permission.database.priority = 5
security.restriction.database.pattern = /database/.*
security.restriction.database.methods = GET
security.restriction.database.methods = POST
security.restriction.database.methods = PUT
security.restriction.database.methods = DELETE
security.restriction.database.priority = 2
security.permission.reasoner_update.pattern = /reasoner/.*
security.permission.reasoner_update.methods = POST
security.permission.reasoner_update.methods = PUT
security.permission.reasoner_update.methods = DELETE
security.permission.reasoner_update.host = LOCAL
security.permission.reasoner_update.priority = 5
security.restriction.reasoner_update.pattern = /reasoner/.*
security.restriction.reasoner_update.methods = POST
security.restriction.reasoner_update.methods = PUT
security.restriction.reasoner_update.methods = DELETE
security.restriction.reasoner_update.priority = 4
security.permission.reasoner_read.pattern = /reasoner/.*
security.permission.reasoner_read.methods = GET
security.permission.reasoner_read.priority = 4
security.permission.default_read.pattern = /.*
security.permission.default_read.methods = GET
security.permission.default_read.methods = HEAD
security.permission.default_read.methods = OPTIONS
security.permission.default_read.priority = 2
security.restriction.default_write.pattern = /.*
security.restriction.default_write.methods = PUT
security.restriction.default_write.methods = POST
security.restriction.default_write.methods = DELETE
security.restriction.default_write.priority = 2
security.permission.default_local.pattern = /.*
security.permission.default_local.methods = GET
security.permission.default_local.methods = HEAD
security.permission.default_local.methods = OPTIONS
security.permission.default_local.methods = POST
security.permission.default_local.methods = PUT
security.permission.default_local.methods = DELETE
security.permission.default_local.host = LOCAL
security.permission.default_local.priority = 5
security.configured = true
kiwi.context = http://localhost:8080/marmotta/
kiwi.host = http://localhost:8080/marmotta/
kiwi.setup.host = true
user.anonymous.webid = http://localhost:8080/marmotta/user/anonymous
user.admin.webid = http://localhost:8080/marmotta/user/admin
marmotta.home = {{ marmotta_home }}
