#!/bin/bash
ec2-consistent-snapshot --description {{ ec2_snapshot_tag }}_opt --region {{ ec2_region }} --signature-version 4 --aws-credentials-file /etc/ec2-backups/snapshot_creds --freeze-filesystem /opt {{ ec2_vol_1.volume_id }}
# the signature-version is required on more recent AWS regions, including us-east-2
